header{
    display: flex;
    justify-content: space-between;
}

.head{
    position: relative;
    left: 20px;
}

a{
    color: #17078c;
}

ul{
    text-align: right;
}

li{
   display: inline-block;
   font-weight: bold;
   margin: 10px;
}

.text{
    font-size: 60px;
    transform: translate(0px, 5em);

}

.right{
    text-align: right;
    z-index: 10;
}

img{
    width: 70vw;
    height: 50vh;
    position: relative;
}

.square::before {
    content: "";
    background-color: #17078c;
    width: 70vw;
    height: 20vh;
    position: absolute;
    top: 30%;
    left: -60px;
    transform: translate(0px, 250px);
    z-index: -10;
}