header{
    display: flex;
    justify-content: space-between;
}

.head{
    position: relative;
    left: 20px;
}

a{
    color: #17078c;
}

ul{
    text-align: right;
}

li{
   display: inline-block;
   font-weight: bold;
   margin: 10px;
}

.text{
    font-size: 5vw;
    transform: translate(0px, 9.2ch);

}

.right{
    text-align: right;
    z-index: 10;
}

img{
    width: 50vw;
    height: auto;
    position: relative;
    transform: translate(0px, 3em);
}

.square::before {
    content: "";
    background-color: #17078c;
    width: 80vw;
    height: 20vh;
    position: absolute;
    left: -60px;
    transform: translate(0px, -2em);
    z-index: -10;
}