header{
    display: flex;
    justify-content: space-between;
}

.head{
    position: relative;
    left: 20px;
}

a{
    color: #17078c;
}

ul{
    text-align: right;
}

li{
   display: inline-block;
   font-weight: bold;
   margin: 10px;
}

.text{
    font-size: 60px;
    position: relative;
    top: 365px;
}

.right{
    text-align: right;
    position: relative;
    top: 50px;
    left: 50px;
    z-index: 10;
}

.square::before {
    content: "";
    background-color: #17078c;
    width: 730px;
    height: 200px;
    position: absolute;
    top: 50px;
    left: -60px;
    transform: translate(0px, 250px);
    z-index: -10;
}